name: Weather Pipeline CI/CD

on:
  push:
  schedule:
    - cron: "0 */2 * * *"           # Every 2 hours
  workflow_dispatch:                # Manual trigger

  permissions:
    contents: write      # Permission to write in our files (repository contents)

jobs:
  test_and_fetch: 
    runs-on: ubuntu-latest
    steps:
      -name: Checkout repo
      uses: actions/checkout@v4 # Check out the repository code, checkout name of the action, v4 is version 4

      -name: Use Node.js 
      uses: actions/setup-node@v4
      with:
        node-version: '22'         # Specify Node.js version

      -name: Cache Node Modules     # Cache node modules to speed up builds
      uses: actions/cache@v4        #  Use cache action
      with:
        path: ~/.npm                 # Path to cache
        key: ${{ runner.os }}-node-${{ hashFiles('/package-lock.json') }}  # unique key for cache only if package-lock.json changes

      -name: Install Dependencies
      run: npm ci               # Install dependencies

      -name: Fetch Latest Weather
      env:
        WEATHER_API_KEY: ${{ secrets.WEATHER_API_KEY }}  # Use secret for API key
        WEATHER_CITY: ${{ secrets.CITY }}                      # Use secret for city

      run: node fetchWeather.js   # Run script to fetch weather data

      -name: Commit weather data if changed
      run: |
          git config user.name "githib-actions[bot]"   
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add weather.json data/weather_log.csv || true 
          git commit -m "ci: update weather data" || echo "No changes to commit"
          git push || echo "Push failed or no changes"

      -name: Trigger Render Deploy
      run: curl -X POST ${{ secrets.RENDER_DEPLOY_HOOK }}   # Trigger Render deployment via webhook